body{
	background-color: honeydew;
	font-family: sans-serif;
}
.kalkulator{
	background: powderblue;
	margin: 100px auto;
	width: 335px;
	padding: 10px 20px 50px 20px;
	border-radius: 5px;
}
.bil{
	margin: 5px;
	width: 300px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16pt;
}
.opt{
	margin: 5px;
	width: 215px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16pt;
}
.tombol{
	background: green;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 15pt;
}
.hapus{
	background:red ;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 15pt;
}
.judul{
	text-align: center;
	font-weight: bold;
	color: black;
}